/*
 * Smoke-test overrides for workflows/main.nf.
 *
 * These settings validate process wiring and command invocation without
 * launching a 400 ns production run. They are not scientifically meaningful.
 */

params {
    smoke = true
    skip_mmpbsa = true
    outdir = 'revision_exec/nf_output_smoke'
    production_nsteps = 5000         // 10 ps at dt=0.002 ps; command-wiring smoke only
    mdrun_prod_flags = ''
    mdrun_equil_flags = ''
    mdrun_em_flags = ''
}

process {
    withName: 'ENERGY_MINIMIZE' {
        ext.nsteps = 100
        time = '30m'
    }

    withName: 'NVT_EQUIL' {
        ext.nsteps = 1000
        time = '30m'
    }

    withName: 'NPT_EQUIL' {
        ext.nsteps = 1000
        time = '30m'
    }

    withName: 'PRODUCTION_MD' {
        ext.nsteps = 5000
        time = '2h'
    }

    withName: 'MMPBSA' {
        time = '10m'
    }
}
